[DEFAULT]

use_stderr = False
debug = {{ debug }}
use_journal = True

{% if not freezer_use_uwsgi %}
bind_host = {{ freezer_api_bind_address }}
bind_port = {{ freezer_api_service_port }}
{% endif %}

[centralized_scheduler]
enabled = {{ freezer_scheduler_central | bool }}
enforce_trusts = False
service_user = {{ freezer_service_user_name }}
service_user_domain = {{ freezer_service_user_domain_name }}

[database]
connection = mysql+pymysql://{{ freezer_galera_user }}:{{ freezer_galera_password }}@{{ freezer_galera_address }}/{{ freezer_galera_database }}?charset=utf8{% if freezer_galera_use_ssl | bool %}&ssl_verify_cert=true{% if freezer_galera_ssl_ca_cert | length > 0 %}&ssl_ca={{ freezer_galera_ssl_ca_cert }}{% endif %}{% endif +%}

[keystone_authtoken]
insecure = {{ keystone_service_internaluri_insecure | bool }}
project_domain_name = {{ freezer_service_project_domain_name }}
user_domain_name = {{ freezer_service_user_domain_name }}
project_name = {{ freezer_service_project_name }}
username = {{ freezer_service_user_name }}
password = {{ freezer_service_password }}
region_name = {{ freezer_service_region }}
auth_url = {{ keystone_service_internalurl }}
www_authenticate_uri = {{ keystone_service_publicuri }}
interface = {{ freezer_service_endpoint_type }}
auth_type = {{ freezer_keystone_auth_plugin }}

service_token_roles_required = {{ freezer_service_token_roles_required | bool }}
service_token_roles = {{ freezer_service_token_roles | join(',') }}
service_type = {{ freezer_service_type }}

# if your memcached server is shared, use these settings to avoid cache poisoning
memcached_servers = {{ freezer_memcached_servers }}
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcached_encryption_key }}
token_cache_time = 300

[paste_deploy]
config_file = /etc/freezer/freezer-paste.ini

[storage]
driver = sqlalchemy
backend = sqlalchemy
